* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

header img {
    height: 16vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    gap: 1.5em;
}

header nav div:last-child {
    text-align: right;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 2em;
}

nav a:hover {
    color: #FF2157;
}

section.jumbotron img {
    width: 100%;
    margin-bottom: 1em;
}

section.jumbotron div {
    text-align: center;
}

section.jumbotron div span {
    padding: 1em;
    background-color:#7A52BB;
    border-radius: 5em;
    font-weight: 500;
}

section.jumbotron div h1 {
    font-size: 3em;
    line-height: 2em;
}

section.jumbotron div p {
    font-size: 1.5em;
    line-height: 1.5;
}
#email {
   border-radius: 5px;
   padding: 1em 2em;
   margin: 2em 2em;
   width: 50%;
}
section.product{
    background-color:#a177e6 ;
}