* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


section.jumbotron img {
    width: 100%;
    margin-bottom: 1em;
}

section.jumbotron {
    background-color: lavender;
}

section.jumbotron div.center {
    width: 50%;
    margin: auto;
}

div.cien {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

div.cien span {
    padding: 5px;
    background-color: #7A52BB;
    border-radius: 4em;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.836);
}

section.jumbotron div.conoce {
    text-align: center;
}

section.jumbotron div.conoce h1 {
    font-size: 35px;
    line-height: 40px;
}

section.jumbotron div.conoce p {
    font-size: 18px;
    line-height: 25px;
}

#email {
    border-radius: 5px;
    padding: 1em;
    margin: 2em 0;
    width: 50%;
    font-size: 15px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.555);
    transition: 300ms all;
}

#submit {
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 15px;
    border: 2px solid black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.555);
}

section.jumbotron div.conoce #email:hover {
    box-shadow: 0 4px 8px 0 #FF2157;
    border-color: #FF2157;
    transition-duration: 300ms;
}

/* section.jumbotron div.center div.conoce input#email:focus{
    color: #FF2157;
    border:2px solid #FF2157;
    Aunque la letra cambie, el borde vuelve negro
} */

#submit:hover {
    cursor: pointer;
    border-color: #FF2157;
    box-shadow: 0 4px 8px 0 #FF2157;
    transition-duration: 300ms;
}

section.product {
    background-color: #7A52BB;
    color: white;
}

section.product h2 {
    padding: 4vh 0;
    text-align: center;
    font-size: 35px;
}

section.product div.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2em;
}

section.product div.articles article {
    background-color: lavender;
    border-radius: 5px;
    margin: 5px 5px 2em 5px;
    padding: 5px;
    width: 275px;
    box-shadow: 0 6px 12px 0 black;
}

section.product div.articles img {
    width: 275px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.623);
    border-radius: 5px;
}

section.product div.articles h3 {
    text-align: center;
    color: black;
    font-size: 23px;
    margin-left: 1em;
}

section.product div.articles ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
    font-size: 16px;
    font-weight: 400;
}

section.product div.articles li {
    padding-top: 5px;
    text-align: center;
}

section.product div.articles article div.comprar {
    display: flex;
    justify-content: center;
}

section.product div.articles article div.comprar button {
    width: 50%;
    margin: 1em;
    padding: 1em;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    background-color: white;
}

section.product div.articles article div.comprar button:hover {
    border-color: #FF2157;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px #FF2157;
    color: #FF2157;
    transform: scale(1.1);
    transition-duration: 300ms;
}

section.help div img {
    width: 100%;
}

section.help div.consulta {
    background-color: lavender;
    padding: 2em;
    text-align: center;
}

section.help div.consulta h2 {
    padding: 1em 0;
}

section.help div.consulta button {
    border-radius: 5px;
    padding: 1em 0;
    margin-top:2em;
    width: 50%;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.555);
}

section.help div.consulta button:hover {
    cursor: pointer;
    border-color: #FF2157;
    box-shadow: 0 4px 8px 0 #FF2157;
    transition-duration: 300ms;
}

@media (max-width: 749px) {
    
    #email {
        width: 75%;
    }

    section.jumbotron div.center {
        width: 70%;
        margin: auto;
    }
}

@media (min-width: 1000px) {

    section.help {
        display: flex;
    }

    section.help div {
        width: 50%;
    }

    section.help div img {
        width: 50vw;
    }

    section.help div.consulta{
        padding-top: 2.5em;
    }

}

@media (min-width: 1200px) {

    section.help div.consulta{
        padding-top: 4.5em;
    }

}